{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% block content %}

    <div class="text-center" style="
            {#background-image: url('{% static "images/clim.jpg"%}');#}
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
                      background-color: honeydew;">

        <section>
            <div class="table-responsive col-lg-8">
                <h2 class="text-center" style="color:#232588">Climate</h2>
                <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); ">
                    <thead>
                    <tr>
                        <th scope="col">Celcious</th>
                        <th scope="col">22</th>

                    </tr>
                  </thead>

                </table>
            </div>
        </section>
    </div>


{% endblock %}
