{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% block content %}

    <div class="text-center" style="background-image: url('{% static "images/clim.jpg"%}'); background-position:center top; height:801px; background-color: rgba(255, 255, 255, 0.8);">

        <section>
            <div class="table-responsive col-lg-8">
                <h2 class="text-center" style="color:cornflowerblue">Climate</h2>
                <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); ">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                        <th scope="col">Place</th>
                         <th scope="col">Celcious</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Living room</td>
                      <td>22</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Bedroom</td>
                      <td>23</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Garage</td>
                      <td>20</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </section>
    </div>


{% endblock %}
