{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% block content %}

    <div class="d-flex justify-content-between" style="
            {#background-image: url('{% static "images/set.jpg"%}');#}
           background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: honeydew;">

        <div class="container">

            <div class="row justify-content-md-center">
                <div class="col-sm-5"><br></div>
            </div>
            <div class="row justify-content-md-center">
                  <div class="col-sm-14">
                      <form action="" method=POST>
                        {% csrf_token %}
                            {{ form.as_table }}
                        <br/><br/>
                       <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group mr-2" role="group" aria-label="First group">
                         <a href="{%  url 'settings' %}" class="btn btn-secondary">BACK</a>
                          </div>
                          <div class="btn-group mr-2" role="group" aria-label="Second group">
                           <input type="submit" value="  Update  " class="btn btn-primary" >
                          </div>
                        </div>
                      </form>
                  </div>
            </div>
        </div>
    </div>

{% endblock %}

