{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% block content %}

    <div class="text-center" style="background-image: url('{% static "images/lights.jpg"%}'); background-position:center top; height:1050px; background-color: rgba(255, 255, 255, 0.8);">
{#        <img src="{% static "images/lights.jpg"%}" class="img-fluid" alt="" />#}
{#        <div class="d-flex justify-content-between" style="position: absolute; top: 0">#}

        <section>
             <div class="table-responsive col-lg-8">
                <h2 class="text-center" style="color:cornflowerblue">Lights</h2>
                <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                        <th scope="col">Place
                        </th>
                        <th scope="col">Light, ON/OFF</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Living room</td>
                      <td>OFF</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Bedroom</td>
                      <td>ON</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Garage</td>
                      <td>OFF</td>
                    </tr>
                  </tbody>
                </table>
            </div>

        </section>
{#        </div>#}
    </div>


{% endblock %}
