{% extends 'lights.html' %}

{% load static %}

{% block content %}
<body id="bg" style="background-image: url('{% static "images/clim.jpg"%}');">
    <br/><br/><br/><br/>

    <div class="center">
        <h1 class="opaqueWhite" style="text-align: center">Lights</h1>
    </div>
    <br/><br/><br/><br/>

        <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); width: 1000px">
          <thead>
            <tr>
              <th scope="col">#</th>
                <th scope="col">Place</th>
                 <th scope="col">Light, ON/OFF</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Living room</td>
              <td>OFF</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Bedroom</td>
              <td>ON</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Garage</td>
              <td>OFF</td>
            </tr>
          </tbody>
        </table>
        <br/>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
             <a href="{%  url 'home' %}" class="btn btn-secondary" >BACK</a>
          </div>

        </div>

</body>
{% endblock %}