{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% block content %}

    <style>
    .my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    </style>

    <div class="text-center" style="
            {#background-image: url('{% static "images/logs.jpg"%}');#}
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
                      background-color: honeydew;">

        <section>
            <div class="col">
                  <h2 class="text-center" style="color:#232588">Logs</h2>

                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                      <table class="table table-hover table-striped mb-1 table-bordered" style="background-color: rgba(255, 255, 255, 0.8); align-content: center">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                            <th scope="col">Place</th>
                            <th scope="col">Date, MM/dd/yyyy</th>
                             <th scope="col">Time, HH:mm:ss</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <th scope="row">6</th>
                            <td>ul.Kozanowska 46</td>
                            <td>16/11/2021</td>
                            <td>21:23:24</td>

                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>ul.Kozanowska 46</td>
                            <td>15/11/2021</td>
                            <td>09:24:00</td>

                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>ul.Kozanowska 46</td>
                            <td>14/11/2021</td>
                            <td>15:45:03</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>ul.Kozanowska 46</td>
                            <td>12/11/2021</td>
                            <td>23:23:24</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>ul.Kozanowska 46</td>
                            <td>11/11/2021</td>
                            <td>09:34:24</td>

                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>ul.Kozanowska 46</td>
                            <td>10/11/2021</td>
                            <td>11:42:35</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
        </section>
    </div>


{% endblock %}
