{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'home' %}">
                <img
                  src = "{% static 'images/up_bar.jpg'%}"
                  height="35"
                  alt=""
                  loading="lazy"
                />
              </a>


          </div>

        <span id="hello-msg">Hello, {{ request.user }} &nbsp;&nbsp;&nbsp;</span>
        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>


    </div>
</nav>