<{% extends 'settings.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% block personal %}
    <div class="table-responsive col-lg-12">
                    <h2 class="text-center">Adress</h2>
                    <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); ">
                        <thead>
                        <tr>
                          <th scope="col">#</th>
                            <th scope="col">Street</th>
                             <th scope="col">City/Town</th>
                             <th scope="col">Zip/Postal</th>
                            <th scope="col">Country</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Kozanowska 46</td>
                            <td>Wroclaw</td>
                          <td>52-045</td>
                            <td>Poland</td>
                        </tr>

                      </tbody>
                        </table>
    </div>

{% endblock %}