{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% block content %}

    <div class="d-flex justify-content-between" style="
            {#background-image: url('{% static "images/set.jpg"%}');#}
           background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
                                background-color: honeydew;
">

            <section>

                <div class="table-responsive col-lg-12">
                    <h2 class="text-center"style="color:#232588">Personal</h2>
                    <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); ">
                      <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>{{ username}}</td>
                          <td>{{ l_name }}</td>
                          <td>{{ e_mail }}</td>
                        </tr>

                      </tbody>
                    </table>
                    <br>
                    <a class="nav-link" href="{% url 'users-profile' %}"><i class="fas fa-cog"></i>&nbsp;&nbsp;Edit profile</a>

{#                    <button type="button" href="{% url 'edit_profile' %}" class="btn btn-secondary">Edit profile</button>#}

                </div>

            </section>
            <section>
                <div class="table-responsive col-lg-12">
                    <h2 class="text-center" style="color:#232588">Address</h2>
                    <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); ">
                        <thead>
                        <tr>
                          <th scope="col">#</th>
                            <th scope="col">Street</th>
                             <th scope="col">City/Town</th>
                             <th scope="col">Zip/Postal</th>
                            <th scope="col">Country</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Kozanowska 46</td>
                            <td>Wroclaw</td>
                          <td>52-045</td>
                            <td>Poland</td>
                        </tr>

                      </tbody>
                    </table>
                    <br>
{#                    <button type="button" href="{% url 'edit_address' %}" class="btn btn-secondary">Edit Address</button>#}
                </div>
            </section>

        </div>


{% endblock %}

