{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% block content %}
    <br><br><br><br><br><br>
    <div class="container d-flex  jumbotron vertical-center text-center" style="
            {#background-image: url('{% static "images/set.jpg"%}');#}
           background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: honeydew;">
        <div class="row">
            <div class="col-6 col-md-5">
                <div class="table-responsive col-lg-12">
                    <h2 class="text-center"style="color:#232588">User</h2>
                    <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); ">
                      <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>{{ user.first_name}}</td>
                          <td>{{ user.last_name }}</td>
                          <td>{{ user.email }}</td>
                        </tr>

                      </tbody>
                    </table>
                </div>
                <br>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <a href="{%  url 'users-profile' %}" class="btn btn-primary">Edit profile</a>
                    </div>
            </div>
            <div class="col-6 col-md-1"></div>
            <div class="col-6 col-md-5">
                <div class="table-responsive col-lg-12">
                    <h2 class="text-center" style="color:#232588">Address</h2>
                    <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); ">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                                <th scope="col">Country</th>
                                <th scope="col">City</th>
                                 <th scope="col">Street</th>
                                 <th scope="col">House</th>
{#                                     <th scope="col">Street</th>#}
                            </tr>
                          </thead>
                         {% for a in address_list %}

                             <tbody>
                                <tr>
                                    <td>
                                        <a href="{% url 'show-address' a.id %}" style="color: black; "> {{ a.id }} </a>
                                    </td>
                                    <td>
                                        {{ a.country }}
                                    </td>
                                    <td >
                                          {{ a.city }}
                                    </td>
                                    <td>
                                        {{ a.street }}
                                    </td>
                                     <td>
                                         {{ a.house }}
                                    </td>

                                </tr>
                             </tbody>

                        {% endfor %}
                    </table>

                </div>
                <br/>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <a href="{%  url 'add-address' %}" class="btn btn-primary">Add address</a>
                  </div>
            </div>
        </div>

    </div>


{% endblock %}

