{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% block content %}

    <div class="d-flex justify-content-between" style="
            {#background-image: url('{% static "images/set.jpg"%}');#}
           background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
                                background-color: honeydew;
">

            <section>

                <div class="table-responsive col-lg-12">
                    <h2 class="text-center"style="color:#232588">User</h2>
                    <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); ">
                      <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>{{ user.first_name}}</td>
                          <td>{{ user.last_name }}</td>
                          <td>{{ user.email }}</td>
                        </tr>

                      </tbody>
                    </table>
                    <br>
{#                    <a class="nav-link" href="{% url 'users-profile' %}"><i class="fas fa-cog"></i>&nbsp;&nbsp;Edit profile</a>#}

{#                    <button type="button" href="{% url 'edit_profile' %}" class="btn btn-secondary">Edit profile</button>#}
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <a href="{%  url 'users-profile' %}" class="btn btn-primary">Edit profile</a>
                    </div>

                </div>

            </section>
            <section>
                <div class="table-responsive col-lg-12">
                    <h2 class="text-center" style="color:#232588">Address</h2>
                    <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); ">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                                <th scope="col">Country</th>
                                <th scope="col">City</th>
                                 <th scope="col">Street</th>
                                 <th scope="col">House</th>
{#                                     <th scope="col">Street</th>#}
                            </tr>
                          </thead>
                         {% for a in address_list %}

                             <tbody>
                                <tr>
                                    <td>
                                        <a href="{% url 'show-address' a.id %}" style="color: black; "> {{ a.id }} </a>
                                    </td>
                                    <td>
                                        {{ a.country }}
                                    </td>
                                    <td >
                                          {{ a.city }}
                                    </td>
                                    <td>
                                        {{ a.street }}
                                    </td>
                                     <td>
                                         {{ a.house }}
                                    </td>

                                </tr>
                             </tbody>

                        {% endfor %}
                    </table>
                         <br/>

                              <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a href="{%  url 'add-address' %}" class="btn btn-primary">ADD ADDRESS</a>
                              </div>

                    </div>

            </section>

        </div>


{% endblock %}

