{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% block content %}

    <div class="d-flex jumbotron vertical-center justify-content-between " style="
            {#background-image: url('{% static "images/set.jpg"%}');#}
           background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: honeydew;">

        <div class="container">
          <div class="row justify-content-md-center">
             <div class="col-md-10"> <br><br><br></div>
                 <div class="col-sm-5">
                   <div class="card">
                      <h5 class="card-header"> <strong>{{address.street}} {{ address.house }}</strong></h5>
                      <div class="card-body">
                      <h5 class="card-title">Details</h5>
                        <div>
                            <ul>
                                <li>Country: {{ address.users}}</li>
                                <li>Sity: {{ address.sity}}</li>
                                <li>Street: {{ address.street}}</li>
                                <li>House: {{ address.house}}</li>
                                <li>Postal: {{ address.postal}}</li>
                                <li>Users:
                                    {% for name in address.users.all %}
                                        <ul>
                                        <li>{{ name }}</li>
                                        </ul>
                                    {% endfor %}
                                 </li>
                                 <li>Description: {{ address.add_description}}</li>
                            </ul>
                        </div>
                     </div>
                </div>
            </div>
          </div>
        <div class="row justify-content-md-center">
          <div class="col-md-10"> <br></div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-15">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                     <a href="{%  url 'settings' %}" class="btn btn-secondary" >BACK</a>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                     <a href="{%  url 'edit-address' address.id %}" class="btn btn-primary">EDIT ADDRESS</a>
                  </div>
                 <div class="btn-group mr-2" role="group" aria-label="Third group">
                     <a href="{%  url 'del-address' address.id %}" class="btn btn-danger">DELETE ADDRESS</a>
                  </div>
               </div>
            </div>
        </div>
    </div>

{% endblock %}
